@model IEnumerable<Laboratorium_ASPNET.Models.Contact>

<h1>Lista kontaktów</h1>

@if (Model == null || !Model.Any())
{
<div class="alert alert-info" role="alert">
    Brak kontaktów do wyświetlenia.
</div>
}
else
{
<table class="table">
    <thead>
    <tr>
        <th>Imię</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Data Urodzenia</th>
        <th>Organizacja</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var contact in Model)
    {
    <tr>
        <td>@contact.Name</td>
        <td>@contact.Email</td>
        <td>@contact.Phone</td>
        <td>@contact.Birth.ToString("dd.MM.yyyy")</td>
        <td>@contact.OrganizationName ?? "Brak informacji"</td>
    </tr>
    }
    </tbody>
</table>
}
