@model Dictionary<int, Laboratorium_ASPNET.Models.Computer>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Lista Komputerów</h2>
<table class="table">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Procesor</th>
        <th>Producent</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Value.Name</td>
        <td>@item.Value.Processor</td>
        <td>@item.Value.Maker</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Key" class="btn btn-primary">Edytuj</a>
            <a asp-action="Details" asp-route-id="@item.Key" class="btn btn-info">Szczegóły</a>
            <a asp-action="Delete" asp-route-id="@item.Key" class="btn btn-danger">Usuń</a>
        </td>
    </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-success">Dodaj nowy komputer</a>
