@model List<Laboratorium_ASPNET.Models.Computer>

@{
ViewBag.Title = "Lista komputerów";
Layout = "_Layout";
}

<h2>Lista komputerów</h2>

<table class="table">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Procesor</th>
        <th>Pamięć RAM</th>
        <th>Karta graficzna</th>
        <th>Producent</th>
        <th>Opcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var computer in Model)
    {
    <tr>
        <td>@computer.Name</td>
        <td>@computer.Processor</td>
        <td>@computer.Memory</td>
        <td>@computer.Graphics</td>
        <td>@computer.Maker</td>
        <td>
            <a asp-action="Details" asp-route-id="@computer.Id" class="btn btn-info">Szczegóły</a>
            <a asp-action="Edit" asp-route-id="@computer.Id" class="btn btn-warning">Edytuj</a>
            <a asp-action="Delete" asp-route-id="@computer.Id" class="btn btn-danger">Usuń</a>
        </td>
    </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Dodaj komputer</a>
